@font-face {
  font-family: 'Solaiman Lipi';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  src: url('solaiman-lipi-v1.0.woff2') format('woff2'),
    url('solaiman-lipi-v1.0.ttf') format('truetype');
}

@font-face {
  font-family: 'SolaimanLipi';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  src: url('solaiman-lipi-v1.0.woff2') format('woff2'),
    url('solaiman-lipi-v1.0.ttf') format('truetype');
}