@font-face {
  font-family: 'CharuChandan3D';
  src: url('CharuChandan3D.eot');
  src: url('CharuChandan3D.woff') format('woff'),
       url('CharuChandan3D.ttf') format('truetype'),
       url('CharuChandan3D.svg#CharuChandan3DUnicode') format('svg'),
       url('CharuChandan3D.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

