@font-face {
  font-family: 'Bangla';
  src: url('Bangla.eot');
  src: url('Bangla.woff') format('woff'),
       url('Bangla.ttf') format('truetype'),
       url('Bangla.svg#Bangla') format('svg'),
       url('Bangla.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

