@font-face {
  font-family: 'AdorshoLipi';
  src: url('AdorshoLipi.eot');
  src: url('AdorshoLipi.woff') format('woff'),
       url('AdorshoLipi.ttf') format('truetype'),
       url('AdorshoLipi.svg#AdorshoLipi') format('svg'),
       url('AdorshoLipi.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}