@font-face {
  font-family: 'Ekushey Lohit';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url('ekushey-lohit-v2.0.1.eot');
  src: url('ekushey-lohit-v2.0.1.woff') format('woff'),
    url('ekushey-lohit-v2.0.1.ttf') format('truetype'),
    url('ekushey-lohit-v2.0.1.svg#AdorshoLipi') format('svg'),
    url('ekushey-lohit-v2.0.1.eot?#iefix') format('embedded-opentype');
  unicode-range: U+0951-0952, U+0964-0965, U+0980-09FE, U+1CD0, U+1CD2, U+1CD5-1CD6, U+1CD8, U+1CE1, U+1CEA, U+1CED, U+1CF2, U+1CF5-1CF7, U+200C-200D, U+20B9, U+25CC, U+A8F1;
}

@font-face {
  font-family: 'EkusheyLohit';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url('ekushey-lohit-v2.0.1.eot');
  src: url('ekushey-lohit-v2.0.1.woff') format('woff'),
    url('ekushey-lohit-v2.0.1.ttf') format('truetype'),
    url('ekushey-lohit-v2.0.1.svg#AdorshoLipi') format('svg'),
    url('ekushey-lohit-v2.0.1.eot?#iefix') format('embedded-opentype');
  unicode-range: U+0951-0952, U+0964-0965, U+0980-09FE, U+1CD0, U+1CD2, U+1CD5-1CD6, U+1CD8, U+1CE1, U+1CEA, U+1CED, U+1CF2, U+1CF5-1CF7, U+200C-200D, U+20B9, U+25CC, U+A8F1;
}