@font-face {
  font-family: 'Noto Serif Bengali';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  src: url('noto-serif-bengali.woff2') format('woff2'),
    url('noto-serif-bengali.ttf') format('truetype');
}