@font-face {
  font-family: 'Noto Serif Bengali';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('noto-serif-bengali-bold-v2.003.woff2') format('woff2'),
    url('noto-serif-bengali-bold-v2.003.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif Bengali';
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url('noto-serif-bengali-light-v2.003.woff2') format('woff2'),
    url('noto-serif-bengali-light-v2.003.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif Bengali';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('noto-serif-bengali-regular-v2.003.woff2') format('woff2'),
    url('noto-serif-bengali-regular-v2.003.ttf') format('truetype');
}