@font-face {
  font-family: 'Kalpurush';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  src: url('kalpurush-v0.256.woff2') format('woff2'),
    url('kalpurush-v0.256.ttf') format('truetype');
}