@font-face {
  font-family: 'Mukti';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  src: url('mukti-v3.4.3.woff2') format('woff2'),
    url('mukti-v3.4.3.ttf') format('truetype');
}